html{scroll-behavior: smooth;overflow-x: hidden;}
body{margin: 0;background-color: #67b1cc;font-family: 'Montserrat', sans-serif;width: 100vw;overflow-x: hidden;position: relative;}
body::-webkit-scrollbar {width:6px; background:rgba(85,143,167,0.1);}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color:#4169e1;}
body::-webkit-scrollbar:horizontal {height:6px;}
body::-webkit-scrollbar:vertical {width:6px;}
body.scroll{
    overflow: hidden;
}
a{text-decoration: none;}
i{font-style: unset;}
a.logo{position: absolute;left: 5px;top: 5px;}
a.center-logo{display: block;margin: 1em auto;}
.img-logo{width: 100px;}

/* new interaktif */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    max-width: 100%;
    height: 50px;
    background: #000;
}

.navbar .row {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 100%;
}

.left-navbar{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.burger-container{
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    margin: 5px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.burger-container span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    opacity: 1;
    border-radius: 10px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger-container span:nth-child(1) {
    top: 0px;
}

.burger-container span:nth-child(2),.burger-container span:nth-child(3) {
    top: 10px;
}

.burger-container span:nth-child(4) {
    top: 20px;
}

.burger-container.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.burger-container.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger-container.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger-container.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
.center-navbar{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-navbar{
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container{
    display: block;
    width: fit-content;
    color: #fff;
    font-weight: 800;
    font-size: 30px;
}

.logo-container img{
    display: block;
    margin: 0 auto;
    height: 25px;
    width: auto;
}

.menu-navbar{
    background: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
    position: fixed;
    z-index: 499;
}

.menu-navbar.close{
    animation: closeNavbar 0.5s linear;
    top: -100vh;
}

.menu-navbar.open{
    animation: openNavbar 0.5s linear;
    top: 0;
}

@keyframes openNavbar {0% { top:-100vh; }100%{top: 0;}}
@keyframes closeNavbar {0%{top: 0;}100% { top: -100vh; }}

.menu-navbar .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-navbar .menu-list{
    padding: 0;
    list-style: none;
    margin: 2rem auto;
}

.menu-navbar .menu-list li{
    margin-bottom: 2rem;
    text-align: center;
}

.menu-navbar .menu-list li:last-child{
    margin-bottom: 0;
}

.menu-navbar .menu-list li a{
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.menu-navbar .menu-list li a.proyek:hover{
    color: #00A99D;
}

.menu-navbar .menu-list li a.grafis:hover{
    color: #0071BC;
}

.menu-navbar .menu-list li a.data:hover{
    color: #F15A24;
}

.socmed-share{list-style: none;padding: 0;}
.socmed-share li {vertical-align: middle;display: inline-block;margin: 0 8px;}
.socmed-share li .bullet {display: block;color: #fff;background-color: #000;width: 40px;height: 40px;font-size: 1.6em;line-height: 40px;border-radius: 100%;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;padding: 20% 0;box-sizing: border-box;}
.socmed-share li .bullet svg{width: 60%;display: block;margin: 0 auto;fill: #fff;}
.socmed-share li.facebook .bullet:hover {background-color: #5d82d1;color: #fff;}
.socmed-share li.twitter .bullet:hover {background-color: #40bff5;color: #fff;}
.socmed-share li.whatsapp .bullet:hover {background-color: #5CB100;color: #fff;}

.share-side{
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 55px;
}
.share-side.open{
    animation: openShare 0.5s linear;
    left: 0;
}
.share-side.close{
    animation: closeShare 0.5s linear;
    left: -56px;
}
@keyframes openShare {0% { left:-55px; }100%{left: 0;}}
@keyframes closeShare {0%{left: 0;}100% { left: -56px; }}
.share-side .socmed-share{background-color: #000;padding: 8px 0;}
.share-side .socmed-share li {display: block;padding: 10px 0;}

.header-new{
    padding-top: 50px;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container{
    max-width: 900px;
    text-align: center;
    padding: 50px 5%;
}

.title-container h3{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.title-container h1{
    margin-top: 1rem;
    font-size: 49.4px;
}

.title-container .line{
    display: block;
    width: 100px;
    margin-top: 2rem;
    border-bottom: 1px solid #fff;
}

.title-container h5{
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44em;
    letter-spacing: normal;
}

.image-background{
    width:100%;
    max-height: 100vh;
    overflow: hidden;
}

.image-background img{
    width: 100%;
    height: auto;
}
/* new interaktif */
.hide{opacity: 0;}
.main{padding: 0 15%;color: #fff;box-sizing: border-box;}
.intro{height:100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.intro h1{font-size: 6em;text-align: center;font-weight: 800;margin: 0 auto;}
.intro p{max-width: 600px;}
.header{display: grid;grid-template-columns: repeat(2,50%);margin: 40pt auto;}
.title {padding: 0 20pt;display: flex;justify-content: center;flex-direction: column;align-items: flex-end;}
.title h1{font-size: 5em;text-align: left;font-weight: 900;line-height: 65px;word-wrap: break-word;margin: 0;}
.content{width: 100%;}
.content-inner{height: max-content;position: relative;}
.content-left, .content-right{position: absolute;max-width: 390px;}
.content-left p, .content-right p{text-shadow: 1px 2px 2px #67b1cc;}
.content-right{right: 0;}
.content-left{left: 0;}
.content-right h3, .content-left h3{background-color: #87c1d7;padding: 10px;max-width: 300px;font-size: 1.5em;}
.content-right h3{margin-left: 100px;}
.content-left h3{margin-right: 100px;}
.content-inner img{width: 100%;padding-top: 5%;}

/*footer*/
.credit{
    padding: 1rem 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit h2{
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.credit .wordwide{
    color: #000;
    margin: 0;
    font-weight: 700;
    margin-top: 1em;
}

.credit ul{
    list-style: none;
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.credit .center-logo{
    display: block;
}

.credit .center-logo img{
    margin-top: 1em;
    height: 25px;
    width: auto;
}

.credit .line{
    display: block;
    width: 100px;
    margin-top: 2rem;
    border-bottom: 1px solid #000;
}

.footer{
    padding: 2em 1em;
}

.footer h2{
    text-align: center;
}

.footer-container{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.related-article {
    padding: 5px;
    box-sizing: border-box;
}

.related-article a{
    display: block;
    color: #000;
    transition: transform 0.2s;
}

.related-article a:hover{
    font-weight: 800;
    transform: scale(1.05);
}

.related-image{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.related-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.related-article span{
    margin: 5px auto;
    display: block;
    font-size: 14px;
}
/* footer{font-size:1rem;font-weight:400;line-height:1.5;text-align:left;box-sizing:border-box;display:block;position:relative;z-index:0;}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-right:100px;padding-left:100px}
.col-sm-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
footer .credit p{font-size:1em;letter-spacing:.6pt;margin:0;line-height:130%}
footer .credit p i{font-style:normal;color:#fff;display:block;margin:0 0 4px;font-weight:700}
footer .line-area{position:absolute;top:0;left:50%;right:initial;bottom:initial;margin-left:-15px}
footer .line-area .line{display:block;width:30px;height:1px;background-color:#fff;}
footer .social-media{padding:20px 0;text-align:center}
.related-article h4,footer .social-media h4{text-transform:uppercase;font-size:1.6em;margin:0 0 20px;letter-spacing:1.2pt;line-height:150%;color:#fff}
footer ul{padding: 0;}
footer .social-media ul li{vertical-align:middle;display:inline-block;margin:0 8px}
footer .social-media .bullet{display:block;color:#fff;background-color:#000;width:40px;height:40px;font-size:1.6em;line-height:40px;border-radius:100%;-webkit-transition:all .3s linear;transition:all .3s linear}
footer .social-media ul li.facebook .bullet:hover{background-color:#5d82d1;color:#fff}
footer .social-media ul li.twitter .bullet:hover{background-color:#40bff5;color:#fff}
footer .social-media ul li.whatsapp .bullet:hover{background-color:#5cb100;color:#fff}
.related-article,footer .credit{position:relative;padding:50px 0 60px;text-align:center}
footer .credit ul.flat li{position:relative;display:block;margin:0 0 24px}
footer .related-article .content-article{position:relative;padding:10px}
footer .related-article .content-article .cover-article{margin:0 0 16px;display:block;width:100%;height:0;padding:0 0 54.8%;background-position:center;background-repeat:no-repeat;background-size:cover}
footer .related-article .content-article h6{font-size:.9em;line-height:150%;margin:0;-webkit-transition:all .3s linear;transition:all .3s linear}
footer .related-article .row+.backto-box{margin:50px 0 0}
footer .backto-box{font-size:.9em;text-transform:uppercase;letter-spacing:.5pt;line-height:100%;margin:0}
footer .link-to{color:#fff;cursor:pointer}
footer .link-to:hover{color:#000}
footer .backto-box a{color:#fff;display:inline-block;border:2px solid #fff;display:inline-block;padding:12px 16px 13px;border-radius:10px}
footer .backto-box a:hover{background-color:#fff;color:#000}
footer .related-article .mouse-scroll.back-top{margin-top:50px}
footer .mouse-scroll.back-top{width:120px;margin-left:-60px;display:block;position:relative;left:initial;right:initial;top:initial;bottom:initial;margin:0 auto}
footer .mouse-scroll{display:none;text-align:center;color:#fff;font-size:.7em;cursor:pointer;padding-top:60px;position:absolute;z-index:1;top:initial;left:50%;right:initial;bottom:10px;width:60px;margin-left:-30px;-webkit-transition:all .3s linear;transition:all .3s linear}
footer .mouse-scroll .icon-arrow{position:absolute;top:initial;left:50%;right:initial;bottom:20px;width:24px;height:24px;margin-left:-12px;border-left:3px solid #fff;border-bottom:3px solid #fff;-webkit-transform:rotate(135deg);transform:rotate(135deg);-webkit-animation:back-top 1.5s infinite;animation:back-top 1.5s infinite}
footer .mouse-scroll:hover{color:#000}
footer .mouse-scroll:hover>.icon-arrow{border-left:3px solid #000;border-bottom:3px solid #000} */
/* side menu */
.side-menu{width: 100px;position: fixed;top: 0;display: flex;flex-direction: column;justify-content: center;height: 100vh;}
.side-menu.show-left{right: 0;-webkit-animation-name: slideInMenu;animation-name: slideInMenu;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}
.side-menu.hide-right{right: -100px;-webkit-animation-name: slideOutMenu;animation-name: slideOutMenu;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}
.menu-container{background-color: rgba(0,0,0,0.1);width: 90px;margin-right: 10px;border-radius: 5px;}
ul.menu{padding: 0;list-style: none;}
ul.menu li {height: 60px;padding: 5px;}
ul.menu li .btn-menu{display: block;background-color: #4169e1;padding: 5px;border-radius: 5px;font-size: 8px;color: #fff;text-align: center;}
.btn-menu svg{height: 40px;margin: 0 auto;display: block;margin-bottom: 2px;}
ul.menu li .btn-menu .btn-line{fill: #fff;}
ul.menu li .btn-menu:hover {background-color: #fff;color: #4169e1;}
ul.menu li .btn-menu:hover .btn-line{fill: #4169e1;}
ul.menu li .btn-menu.active{background-color: #fff;color: #4169e1;}
ul.menu li .btn-menu.active .btn-line{fill: #4169e1;}
/* language */
.language {position: absolute;z-index: 2000;cursor: pointer;right: 10px;top:5px;width: 84px;}
.language a {display: flex;align-items: center;padding: 5pt;background-color: #000;color: #fff;border-radius: 5px;}
.language a:hover{background-color: #fff;color: #000;}
a#id-country-dropdown, a#en-country-dropdown{border: 1px solid rgba(0,0,0,0.1);}
.language img {width: 20px;}
.country{display: none;}
.country.active{display: block;}
.dropdown {background-color: #000;display: none;border: 1px solid rgba(0,0,0,0.1);border-radius: 5px;margin-top: 2px;}
@-webkit-keyframes back-top{0%{-webkit-transform:rotate(135deg) translate(0, 0);opacity:0}50%{opacity:1}100%{-webkit-transform:rotate(135deg) translate(-20px, 20px);opacity:0}}@keyframes back-top{0%{-webkit-transform:rotate(135deg) translate(0, 0);transform:rotate(135deg) translate(0, 0);opacity:0}50%{opacity:1}100%{-webkit-transform:rotate(135deg) translate(-20px, 20px);transform:rotate(135deg) translate(-20px, 20px);opacity:0}}
@media screen and (min-height:1000px){
    .intro{height: 50vh;}
    .content-inner img{ padding-top: 20%;}
}
@media screen and (max-width:1200px){
    .main{padding: 0 10%;}
}
@media screen and (max-width:801px){
    .main{padding: 0 5%;}
    .intro{height: 100vh;}
    .intro h1{font-size: 5em;}
    .header{display: block;}
    .title {align-items: center;}
    .content-inner img{ padding-top: 5%;}
    .content-left, .content-right{position: unset;}
    .content-right{float: right;}
    .content-left{float: left;}
    .row {padding-left: 5%;padding-right: 5%;display: block;}
    .col-sm-6 {position: relative;max-width: 100%;overflow: visible!important;}
    footer .related-article .content-article{padding-left:0; padding-right:0;}
    ul.menu{margin: 0;display: grid;grid-template-columns: repeat(4,1fr);}
    .side-menu{width: 100%;height: 80px;top: unset;align-items: center;}
    .side-menu.show-left{right: unset;bottom: 0;-webkit-animation-name: slideInMenuMobile;animation-name: slideInMenuMobile;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}
    .side-menu.hide-right{right: unset;bottom: -100px;-webkit-animation-name: slideOutMenuMobile;animation-name: slideOutMenuMobile;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}
    .menu-container{width: 100%;margin: 0;border-radius: unset;}
}
@media screen and (max-width:500px){
    img.img-right{margin-left: 45%;}
    .header{height: fit-content;}
    .intro h1{font-size: 3.5em;}
    .title h1{font-size: 3em;max-width: unset !important;}
    .content-inner {display: flex;flex-direction: column;align-items: center;}
    .content-inner img{width: 150%;}
}
@media screen and (max-width:350px){
    .intro h1, .title h1{font-size: 2.5em;}
    .content-right h3, .content-left h3{font-size: 1em;}
}
/* animation */
@-webkit-keyframes bounceInDown {
    from,60%,75%,90%,to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
    60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
    75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
    90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}
    to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes bounceInDown {
    from,60%,75%,90%,to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
    60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
    75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
    90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}
    to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.bounceInDown {-webkit-animation-name: bounceInDown;animation-name: bounceInDown;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}
@-webkit-keyframes slideInLeft {
    from {-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);visibility: visible;}
    to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}  
@keyframes slideInLeft {
    from {-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);visibility: visible;}
    to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}  
.slideInLeft {-webkit-animation-name: slideInLeft;animation-name: slideInLeft;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}  
@-webkit-keyframes slideInRight {
    from {-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);visibility: visible;}
    to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes slideInRight {
    from {-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);visibility: visible;}
    to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
.slideInRight {-webkit-animation-name: slideInRight;animation-name: slideInRight;-webkit-animation-duration: 0.75s;animation-duration: 0.75s;}

@-webkit-keyframes slideOutMenu {
    from {right: 0;}
    to {right: -100px;}
}
@keyframes slideOutMenu {
    from {right: 0;}
    to {right: -100px;}
}
@-webkit-keyframes slideInMenu {
    from {right: -100px;}
    to {right: 0;}
}
@keyframes slideInMenu {
    from {right: -100px;}
    to {right: 0;}
}
@-webkit-keyframes slideOutMenuMobile {
    from {bottom: 0;}
    to {bottom: -100px;}
}
@keyframes slideOutMenuMobile {
    from {bottom: 0;}
    to {bottom: -100px;}
}
@-webkit-keyframes slideInMenuMobile {
    from {bottom: -100px;}
    to {bottom: 0;}
}
@keyframes slideInMenuMobile {
    from {bottom: -100px;}
    to {bottom: 0;}
}
@media screen and (max-width:800px){
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:500px){
    .navbar .row{padding: 0 5px;}
    .share-side {
        position: unset;
        width: 100%;
        height: auto;
        max-width: unset;
    }
    .share-side .socmed-share li {
        display: inline-block;
    }
    .body{padding: 1em 5%;}
    .body blockquote{
        padding: 20px;
    }
    .footer-container{
        grid-template-columns: repeat(1,1fr);
    }
    .logo-container img {
        height: auto;
        width: 100px;
    }
}